.btnAgregar {
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnAgregar:hover {
  background-color: #218838;
}

.btnEliminar {
  margin-left: 0.5rem;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.skillItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.6rem;
  background-color: #f2f2f2;
  margin: 0.3rem 0;
  border-radius: 6px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.4rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
